{{- if .Values.gitHub.authEndpoint }}
apiVersion: networking.gke.io/v1alpha3
kind: FQDNNetworkPolicy
metadata:
  name: {{ include "api-reconcilers.fullname" . }}-fqdn
  labels:
    {{- include "api-reconcilers.labels" . | nindent 4 }}
spec:
  egress:
    {{- if  .Values.gitHub.authEndpoint }}
    - ports:
        - port: 443
          protocol: TCP
      to:
        - fqdns:
            - {{ get (urlParse .Values.gitHub.authEndpoint) "host" }}
    {{- end }}
    - ports:
        - port: 80
          protocol: TCP
      to:
        - fqdns:
            - metadata.google.internal
    - ports:
        - port: 443
          protocol: TCP
      to:
        - fqdns:
            - private.googleapis.com

{{- $root := . }}
{{- range split "," .Values.kubernetes.clusters }}
    - ports:
        - port: 443
          protocol: TCP
      to:
        - fqdns:
            - "apiserver.{{ . }}.{{ $root.Values.fasit.tenant.name }}.cloud.nais.io"
{{- end }}
  podSelector:
    matchLabels:
      {{- include "api-reconcilers.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Egress
{{- end }}
