apiVersion: v1
kind: Secret
metadata:
  name: {{ include "api-reconcilers.fullname" . }}
  labels:
    {{- include "api-reconcilers.labels" . | nindent 4 }}
type: Opaque
stringData:
  DEPENDENCYTRACK_PASSWORD: {{ .Values.dependencyTrack.password | default "" | quote }}
  GRAFANA_PASSWORD: {{ .Values.grafana.password | default "" | quote }}
