image:
  repository: europe-north1-docker.pkg.dev/nais-io/nais/images/nais-api-reconcilers
  tag: main
resources:
  requests:
    cpu: 400m
    memory: 256Mi

logLevel: info
logFormat: json
googleManagementProjectID: # mapped in fasit

auditLog:
  projectID: # mapped in fasit
  location: # must be configured

tenantDomain: # mapped in fasit
naisAuditLogProjectID: # mapped in fasit
clusterAlias: [ ]
reconcilersToEnable: "google:gcp:project,google:workspace-admin,nais:namespace,google:gcp:gar,google:gcp:cdn,grafana"
fasit:
  tenant:
    name: # mapped in fasit

azure:
  groupNamePrefix:

gitHub:
  authEndpoint:
  organization:

serviceAccount:
  email: null

google:
  adminServiceAccountEmail: null
  adminUserEmail: null

kubernetes:
  clusters: "dev,prod"

gcp:
  billingAccount: # mapped in fasit
  clusters: # mapped in fasit
  workloadIdentityPoolName: # mapped in fasit

grafana:
  endpoint: http://grafana/api
  username: admin
  slackWebhookURL: # mapped in fasit

dependencyTrack:
  endpoint: http://dependencytrack-backend:8080
  username: teams
  password: # mapped in fasit

naisAPI:
  insecure: "true"
  target: nais-api:3001

featureFlags:
  attachSharedVpc:
  enableGrafanaAlerts:
